# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Image files
*.png
!Images/*.png

# 3D mesh files
*.ply
*.obj

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
main
