# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 3D mesh files
*.ply
*.obj

# Pickle files
*.pkl

# Log files
*.log

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
main
